@import "tailwindcss";

@theme {
  --color-background: var(--color-neutral-950);
  --color-foreground: var(--color-neutral-50);
  --color-muted: var(--color-neutral-900);
  --color-muted-foreground: var(--color-neutral-300);
  --color-surface: var(--color-neutral-800);
  --color-primary: var(--color-emerald-700);
  --color-primary-foreground: var(--color-neutral-50);
  --color-border: var(--color-neutral-600);
}

@utility container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 20px;

  @media (min-width: 760px) {
    padding-inline: 40px;
  }

  @media (min-width: 1000px) {
    padding-inline: 64px;
  }
}

@utility search-cancle-none {
  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

button {
  cursor: pointer;
}
